.resume-container {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px;
}

.img-resume {
  width: 20px;
  height: 20px;
}

.button-change:hover
.button-change:focus {
  background-color:transparent !important;
}
