.container-items {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container-totals {
  gap: 20px;
  display: grid;
  padding: 15px;
  border-radius: 10px;
  background-color: #e2eeff;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container-subtitle-competences {
  gap: 20px;
  display: grid;
  padding-top: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: #F6F6F6;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container-conducts {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container-totals-competences {
  gap: 20px;
  display: grid;
  padding: 15px;
  border-radius: 10px;
  background-color: #e2eeff;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
