
.container-upload{
  margin: 10px;
  background-color: rgb(233 233 233 / 69%);
  border-radius: 5px;

  .file-input-upload {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    overflow: hidden;   
    height: 350px;
    width: 100%;
    cursor: pointer !important;
  
    input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      width: 100%;
      height: 350px;
      
      opacity: 0;
      filter: alpha(opacity=0);
    }

    .card-file{
      width: 180px;
      margin: 10px;
    }
  
    .file-list{
      padding: 10px;
      display:flex;
      justify-content:center;
      flex-wrap: wrap;
    }
  }
}

