::ng-deep {
  .mat-simple-snackbar-action .mat-button-base .mat-button-wrapper {
    color: white;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 20px;
}

.add-conduct {
  width: 100%;
  background-color: #e2eeff;
}

.scroll-levels {
  max-height: 500px;
  overflow-y: scroll;
}
