.status{
  width: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  color: white;

  h3{
    margin: 0;
  }
}


.status-color-create{
  background-color: rgb(12 131 12);
}

.status-color-test{
  background-color: #979595;
}

.status-color-pending{
  background-color: rgb(209, 143, 44);
}

.status-color-inprogress{
  background-color: rgb(165, 53, 9);
}

.status-color-completed{
  background-color: rgb(7, 76, 179);
}

.status-color-finalized{
  background-color: rgb(21, 18, 196);
}
