/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --color-primary: #0073C0;
  --color-secondary: #FFC700;
  --color-secondary-opacity: rgba(255, 199, 0, .5);
  --color-danger: #E44208;
  --color-success: #2EC67A;
  --color-1: #F4F4F4;
  --color-2: #575756;
  --color-3: #F8F8F8;
  --color-4: #E8E7E7;
  --color-5: #868A8E;
  --color-15: #9F9596;
  // --color-16: #2AC5FF;
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 17px;
  --font-size-4: 18px;
  --font-size-5: 19px;
  --font-size-6: 21px;
  --font-size-7: 22px;
  --font-size-8: 24px;
}

.d-flex{
    display: flex;
}

.input-custom-text-outline-2{

  mat-label{
    font-size: var(--font-size-2);
    font-weight: 600;
    color: var(--color-2);
    margin-bottom: 5px;
    display: inline-block;
  }

  .mat-form-field{
    width: 100%;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--color-primary);
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }
  .mat-form-field-outline{
    // background-color: var(--color-1);
    border-radius: 5px;
    color: transparent;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 .75em 0 .75em;
    margin-top: -0.25em;
    position: relative;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: var(--color-primary);
  }

  .mat-form-field-infix{
    border-top: unset;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.8em 0 0.6em 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0.45em;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0.35em;
  }

  // .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  //   color: var(--color-primary);
  // }

  .mat-input-element{
    font-size: var(--font-size-2);
    font-family: var(--font-family-1);
  }

}

.pointer{
  cursor: pointer;
}

.hide{
  visibility: hidden;
}

.show{
  visibility: visible;
}

.text-bold{
  font-weight: 600;
}

.color-white{
  color: #fff;
}

.color-gray{
  color: var(--color-2);
}

.color-primary{
  color: var(--color-primary)!important;
}

.color-warning{
  color: var(--color-secondary);
}

.color-danger{
  color: var(--color-danger);
}


.button-custom-1{
  display: inline-block;

  button{
    border-radius: 8px;

    &.shadow-button{
      box-shadow: 0px 3px 6px #0000001C;
    }

    .mat-button-wrapper{
      padding: 2px 0
    }
    span{
      display: flex;
      align-items: center;

      mat-icon{
        margin-right: 5px;
      }
    }
  }
  &.color-primary{
    button{
      background-color: var(--color-primary);
      color: #fff;
      font-family: var(--font-family-1);
    }
  }
  &.color-secondary{
    button{
      background-color: var(--color-secondary);
      color: var(--color-11);
      font-family: var(--font-family-1);
    }
  }
  &.color-info{
    button{
      background-color: var(--color-3);
      color: var(--color-11);
      font-family: var(--font-family-1);
    }
  }
  &.color-white{
    button{
      background-color: #fff;
      color: var(--color-5);
      font-family: var(--font-family-1);
    }
  }
  &.color-white-orange{
    button{
      background-color: #fff;
      color: var(--color-primary);
      font-family: var(--font-family-1);
    }
  }
  &.color-white-blue{
    button{
      background-color: #fff;
      color: var(--color-primary);
      font-family: var(--font-family-1);
    }
  }
}


// ------------------------------------------
// ------- START CUSTOMER INPUT TEXT 1 ------
// ------------------------------------------
.input-custom-text-outline-1{

  .label-icon{
    display: flex;
    align-items: center;
    color: var(--color-primary);
    margin-bottom: 5px;

    span{
      color: #fff;
      font-weight: 500;
    }
  }

  .mat-form-field{
    width: 100%;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: red;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }
  .mat-form-field-outline{
    background-color: var(--color-1);
    border-radius: 5px;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 0 0 .75em;
    margin-top: -0.25em;
    position: relative;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: var(--color-primary);
  }

  .mat-form-field-infix{
    border-top: unset;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.8em 0 0.6em 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0.45em;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0.35em;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--color-primary);
  }
  .mat-input-element{
    font-size: var(--font-size-2);
  }
}

.input-custom-text-outline-2{

  mat-label{
    font-size: var(--font-size-2);
    font-weight: 600;
    color: var(--color-2);
    margin-bottom: 5px;
    display: inline-block;
  }

  .mat-form-field{
    width: 100%;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: red;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }
  .mat-form-field-outline{
    background-color: var(--color-1);
    border-radius: 5px;
    color: transparent;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 .75em 0 .75em;
    margin-top: -0.25em;
    position: relative;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: var(--color-primary);
  }

  .mat-form-field-infix{
    border-top: unset;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.8em 0 0.6em 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0.45em;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0.35em;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--color-primary);
  }
  .mat-input-element{
    font-size: var(--font-size-2);
    font-family: var(--font-family-1);
  }

}

.input-custom-text-outline-icon-1{

  .mat-form-field{
    width: 100%;
  }

  .mat-form-field-wrapper{
    padding-bottom: 0;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--color-12);
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }
  .mat-form-field-outline{
    background-color: #fff;
    border-radius: 5px;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 0 0 .75em;
    margin-top: -0.25em;
    position: relative;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: var(--color-primary);
  }

  .mat-form-field-suffix{
    border-left: 1px solid var(--color-12);
    padding: 6px;
    padding-top: 6px;

    .mat-icon {
      font-size: 150%;
      line-height: 0.925;
    }

  }
  .mat-form-field-infix{
    border-top: unset;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.7em 0 0.7em 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0.45em;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0.35em;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--color-primary);
  }
  .mat-input-element{
    font-size: var(--font-size-2);
  }

  &.background-1{

    .mat-form-field-outline{
      background-color: var(--color-1);
      border-radius: 5px;
      color: var(--color-1);
    }
  }
}

.input-custom-text-outline-icon-2{

  mat-label{
    font-size: var(--font-size-2);
    font-weight: 600;
    color: var(--color-2);
    margin-bottom: 1px;
    display: inline-block;
  }

  .mat-form-field{
    width: 100%;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--color-12);
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }
  .mat-form-field-outline{
    background-color: var(--color-1);
    border-radius: 5px;
    color: var(--color-1);
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 0 0 .75em;
    margin-top: -0.25em;
    position: relative;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: var(--color-primary);
  }

  .mat-form-field-suffix{
    border-left: 1px solid var(--color-12);
    padding: 6px;
    padding-top: 6px;

    .mat-icon {
      font-size: 150%;
      line-height: 0.925;
    }

  }
  .mat-form-field-infix{
    border-top: unset;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.7em 0 0.7em 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0.45em;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0.35em;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--color-primary);
  }
  .mat-input-element{
    font-size: var(--font-size-2);
  }
}
// ------------------------------------------
// -------- END CUSTOMER INPUT TEXT 1 -------
// ------------------------------------------


.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 12px;
}

.p-4 {
  padding: 16px;
}

.p-5 {
  padding: 20px;
}

.m-1 {
  margin: 4px;
}

.m-2 {
  margin: 8px;
}

.m-3 {
  margin: 12px;
}

.m-4 {
  margin: 16px;
}

.m-5 {
  margin: 20px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-5 {
  margin-top: 16px;
  margin-bottom: 16px;
}
